*{
    box-sizing:border-box;
}
html, body{
    margin:0;
    padding:0;
}

#website{
    max-width: 1255px; 
    margin: 0 auto;
    background-color:#e4fde4;
    border: 1px dotted #8bc34a;
    font-family: MyriadPro-Regular, Arial, Helvetica, sans-serif;
}

#header{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border:1px dotted #8bc34a;  
}

.headerElements.title{
    font-family: 'MyriadPro-Light';
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    margin: auto;
    color:green;
    text-shadow: 0 0 1px #91c445;
    flex:3;
    min-width: 260px;
    text-align: center;
 /*   vertical-align: middle;*/
}

.headerElements.right{
  /*  vertical-align: middle;
    text-align: center;  */
    margin: auto;
    margin-right: 5px;
    /* flex: 1; */
    /* display: flex; */
    /* flex-direction: row; */
}

a{
    text-decoration: none;
    
}

a:visited {
    color: green;
    text-shadow: 0 0 1px #91c445;
  }

.btnAdmin{
    border-radius: 10px;
    font-size:16px;
    height:40px;
}

#chartBtn{
   border:0;
   background-color: #f5b21ce0;   /* #46b0fbe0; */
   border-radius: 10px;
}

@media (min-width: 992px) {
    #chartBtn{
        width:180px;
    }
}


#adminBtn{
   border:1px solid lightgray;
   background-color: white;
   border-radius: 10px;
   font-size:16px;
   overflow: hidden;
}


#cartlink{
    color: #ffffff;
}

#adminLink{
    color:black;
    padding-right: 5px;
}

#imgAdmin{
    width:35px;
    vertical-align:middle;
}

.imgHeaderNew {
    display: inline-block;
    width: 120px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/whiteCat.jpg")
}

#imgHeader{
    width:120px;
    height: 100%;
}

#imgCart{
    width:40px;
    vertical-align: middle;
}

#imgLoader {
    display: inline-block;
    width:15vw;
    margin-right: 10%; 
 /*   position: fixed;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);  */
}

#main{
    display: flex; 
    flex-wrap: wrap; 
    width: 100%; 
    margin-bottom:15px
}

#details{
    margin-top:5px;
}

.productDescription{
    height: 98%;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin:10px;
   
}

.productImage{
    width:80%;
}

.productName{
    font: 18px 'MyriadPro-Light';
    font-weight: normal;
    color:black;
    line-height: 18px;
    height: 2em;
}

.productPrice{
    color: #91c445;
    font: 24px 'MyriadPro-Light';
    text-shadow: 0 0 1px #91c445;
    margin-bottom:10px;
}

.btnDetails{
    background-color:#f5b21ce0;
    border-radius: 5px;
    width: 120px;
    border:0px;
    font: 20px 'MyriadPro-Light';
    margin-bottom:5px;
}

#btnDetails:hover{
    background-color: #91c445;
}

/* -------------------------------------- details page ----------------------------------------------- */
#nameBrand{
    display: block;
    width:100%;
    margin: 30px;
    margin-bottom: 0px;
    font-family: 'MyriadPro-Regular' ;
    font-size: 22px;
    font-weight: normal;
}

#productDetails{
    display:flex; 
    flex-direction: row; 
    flex-wrap: wrap;  
    margin:20px; 
}

@media all and (max-width: 600px) {
    #productDetails {
      flex-direction: column;
    }
  }

/* Medium screens */
@media all and (max-width: 800px) {
    #productDetails {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-around;
    }
  }

#detailsProductImage{
    border-radius: 10px;
    margin-right:5px;
    margin-bottom: 5px;
    flex:1; 
    background-color: white;

}

#detailsProductImg{
    border-radius: 10px;
    width:280px;
    height: 300px;
  
}

#detailsProductDetail{
    margin-right:10px;
    padding:15px 5px 0px 15px;
    text-align: left;
    background: white;
    border-radius: 10px;
    margin-bottom: 5px;
   flex:2; 
}

#detailsProductShop{
    padding: 10px;
    background: white;
    border-radius: 10px;
    font-size:20px;
    text-align: center;
    flex:1; 
}

#txtCantitate{
    width:50px;
    margin-left: 5px;
}


#disponibil{
    margin-left: 10px;
}


#carusel{
    display: block;
    margin:auto;
    max-width: 300px;
}

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 300px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  
.invalid{
    border-color:red;
}

#adToCartMessage{
    width: 100%;
    margin: auto;
    padding: 10px;
    color:#101010f5;
    background-color:#fbe1a5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-size: 30px;
}


#footer{
    clear: both;
    height: 5%;
    border:1px dotted #8bc34a;
    text-align:center;
    margin-top:10px;
    padding: 10px;
    font-family: 'MyriadPro-Light'; 
}

#footer a{
    color: #474747;
}

#footerTitle{
    margin: 5px;
    font-size: 15px;
    color: #474747;
    font-weight: bold;
    padding: 0 0 16px 0;
    font-family:Arial, Helvetica, sans-serif;
}





.hidden{
    display: none;
}